#QuizFormPrivate .hidden {
    display: none;
}

#QuizFormPrivate input[type="radio"] {
    display: inline-block;
    min-width: auto;
    width: 20px;
    margin-bottom: 0;
    vertical-align: bottom;
    border: none;
}

#QuizFormPrivate label {
    display: inline-block;
}

#QuizFormPrivate button {
    margin-bottom: 10px;
    /* border-color: var(--border-2); */
}

#QuizFormPrivate .container_quiz_answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#QuizFormPrivate .input_answer {
    display: inline-block;
    min-width: calc(100% - 44px);
    /* width: 100%; */
    margin-bottom: 0;
}

#QuizFormPrivate .button_delete_answer {
    width: 40px;
    height: 40px;
    margin-left: 4px;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 15px;
    font-size: 15px;
}

#QuizFormPrivate #container_buttons {
    /* width: 320px; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#QuizFormPrivate #container_buttons button {
    width: 100px;
}

#QuizFormPrivate #container_quiz button {
    border-color: var(--border-2);
}

@media screen and (min-width: 700px) {
    #QuizFormPrivate .input_answer {
        min-width: calc(100% - 46px);
    }

    #QuizFormPrivate .button_delete_answer {
        margin-left: 6px;
    }

    #QuizFormPrivate #container_quiz_info {
        display: flex;
        align-content: space-between;
    }

    #QuizFormPrivate #container_main_info {
        width: 50%;
        margin-right: 10px;
    }

    #QuizFormPrivate #container_messages {
        width: 50%;
    }
}
