#QuizFormPrivate .hidden {
    display: none;
}

#QuizFormPrivate input[type="radio"] {
    display: inline-block;
    min-width: auto;
    width: 20px;
    margin-bottom: 0;
    vertical-align: bottom;
    border: none;
}

#QuizFormPrivate label {
    display: inline-block;
}

#QuizFormPrivate button {
    margin-bottom: 10px;
    /* border-color: var(--border-2); */
}

#QuizFormPrivate .input_answer {
    display: inline-block;
    min-width: calc(100% - 32px);
}

#QuizFormPrivate .button_delete_answer {
    width: 30px;
    height: 30px;
    margin-left: 2px;
    margin-bottom: 0;
}

#container_buttons {
    /* width: 320px; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container_buttons button {
    width: 100px;
}

#container_quiz button {
    border-color: var(--border-2);
}

@media screen and (min-width: 700px) {
    #QuizFormPrivate .input_answer {
        min-width: calc(100% - 36px);
    }

    #QuizFormPrivate .button_delete_answer {
        margin-left: 6px;
    }

    #container_quiz_info {
        display: flex;
        align-content: space-between;
    }

    #container_main_info {
        width: 295px;
        margin-right: 10px;
    }

    #container_messages {
        width: 295px;
    }
}
