#DashboardPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

#DashboardPage .intro {
    margin: 0;
}

.left_align {
    width: 100%;
    text-align: right;
}
