table {
    border-collapse: collapse;
    border-radius: 15px;
    text-align: center;
    background-color: var(--table-background);
    font-size: 12.7px;
    overflow: hidden;
}

table a {
    font-weight: bold;
}

th {
    text-align: center;
    font-weight: 900;
    background: var(--table-header-background);
}

table .left_align {
    text-align: left;
}

/* table,
th,
td {
    border: 1px solid var(--light);
} */

th,
td {
    margin: auto;
    padding: 0.75rem;
}

td {
    border-top: 2px solid white;
}

#container_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    overflow-x: auto;
}

@media screen and (min-width: 400px) {
    table {
        font-size: 17px;
    }
}

@media screen and (min-width: 700px) {
    table {
        font-size: 19px;
    }
}
