:root {
    --light: white;
    --light-accent: rgb(175, 175, 175);
    --light-accent-2: rgb(125, 125, 125);
    /* Define general colors */
    --background: #4e85bf;
    --border: #66c4ba;
    --border-2: #4e85bf;
    --button-active: #a9e8a6;
    --button-fill: #573dd9;
    --link-color: #f7ed93;
    --link-color-active: #573dd9;
    --link-color-hover: blue;
    --quiz-background: #66c4ba;
    --quiz-button-background: #4e85bf;
    --quiz-button-border: var(--light);
    --quiz-info: #573dd9;
    --quiz-body-background: #a9e8a6;
    --question-background: #573dd9;
    --question-text: white;
    --result-correct-text: #573dd9;
    --table-background: #573dd9;
    --table-header-background: #66c4ba;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
